<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/app.css' />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
  </head>
  <body>
    <div id="container">
      <h1>SubtlePatterns.js</h1>
      <p>Subtly is often the hallmark of great design, and thanks to <a href="http://twitter.com/atlemo/" target="_blank">@atlemo</a> at <a href="http://subtlepatterns.com" target="_blank">SubtlePatterns.com</a>, getting access to beautiful, high-quality backgrounds has never been easier.  This site for instance uses the <a href="http://subtlepatterns.com/nasty-fabric/" target="_blank">Nasty Fabric</a> pattern by default as its background.</p>
      <p>The problem comes when you're not sure which of these patterns you want to use, and you need to test out lots of them to find just the right one.  For that I've created SubtlePatterns.js.</p>
      <p>Just copy and paste the following line of javascript into the page your designing, and an area will be added to the bottom of your page allowing you to quickly try out different backgrounds.</p>
      <p>
        <div class="show-code"><pre>&lt;script src="http://subtlepatternsjs.herokuapp.com/subtlepatterns.js"&gt;&lt;/script&gt;</pre></div>
      </p>

      <p>Go ahead and give it a try right now.  Click on any of the thumbnails at the bottom and see what this page looks like with the selected background.  Click the "i" to go to the details page on <a href="http://subtlepatterns.com" target="_blank">SubtlePatterns.com</a> for the selected pattern.</p>
      <p class="note">Subtlepatterns.js was a weekend project of <a href="http://twitter.com/bbqhacker/" target="_blank">@bbqhacker</a>.</p>
    </div>
    <script src="http://subtlepatternsjs.herokuapp.com/subtlepatterns.js" type="text/javascript"></script>
  </body>
</html>