#subtlepatterns{
	position:absolute;
	bottom:0px;
	left:0px;
	height:130px;
	overflow:scroll;
	padding:0 0 0 0;
	background:#fff;
	width:100%;
}

#subtlepatterns h1{
	display:block;
	background: #666666;
	color:#fff;
	margin:0;
	padding:0;
}

#subtlepatterns div{
	float:left;
	padding:10px;
	position: relative;
}

#subtlepatterns div a{
	display:block;
	position:absolute;
	bottom:20px;
	right:20px;
	background:#fff;
	height:15px;
	width:15px;
	text-align: center;
	font-style: italic;
}

#subtlepatterns div img{
	height:80px;
	width:80px;	
	border:dotted 1px #000;
	margin-bottom:20px;
}

#subtlepatterns .pattern-element-container{
	display:block;
	float:none;
	line-height:30px;
	background: #eee;
	border-top:solid 1px #666;
	border-bottom:solid 1px #666;
	padding:0 0 0 10px;
}

#subtlepatterns .pattern-element-container input[type="text"]{
	width:300px;
}